@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100 flex-column">
    
    <h1 class="display-4 text-center">Welcome to Group #8 Web API Product Registration System</h1>
    <p class="text-center">Use the navbar to browse Products and Categories.</p>
</div>